*{
  margin: 0;
  padding: 0;
}

.banner-area{
  height: 100vh;
  background: rgba(0,0,0,0.5);
}

.bg-area{
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

.banner-text{
  position: relative;
  text-align: center;
  color:#fff;
  top: 320px;
}

.banner-text h1{
  font-size: 80px;
  font-weight: 900;
  letter-spacing: 5px;
  font-family: 'Times New Roman';
}

.banner-text h1 span{
  color:#f5b400;
}

.banner-text h2{
  font-family: 'Times New Roman';
}

.btn{
  font-weight: bold;
  font-family: sans-serif;
  font-size: 20px;
  color: #b88d16;
  margin: 10px;
  padding: 10px 50px;
  text-decoration: none;
  border: 3px solid #7284b0;
  letter-spacing: 2px;
}

.btn:hover{
  background: #1d2e59;
  transition: 0.5s;
  color: #fff;
}

textarea{
  resize: none;
  background-color: #fff;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 600px;
  transform: translateX(-50%) translateY(-50%);
}

/*Index page*/