{% extends "base.html" %}
{% load static %}

{% block imports %}
  <link rel="stylesheet" type="text/css" href="{% static 'simulationApp/css/styleParticles.css' %}"></link>

{% endblock imports %}

{% block activehome %}
  <li class="nav-item active">
{% endblock activehome %}

{% block nav %}
{% endblock nav %}

{% block content %}
  <div class="banner-area">

    <!-- particles.js Background -->
    <div id="particles-js"></div>
    
    <!-- Home Page Text -->
    <div class="banner-container">
      
      <div class="banner-text">
        <h1>BIOTALENT <span>2020</span></h1>
        <h2>Biocomputing Team</h2>
      </div>
      <div class="btn-home-container">
        <a href="{% url 'sim' %}" class="btn btn-circuit">CREATE CIRCUIT</a>
        <a href="{% url 'renderSBGN' %}" class="btn btn-sbgn">RENDER SBGN</a>
      </div>
    
    </div>
  </div>

  <!-- scripts -->
  <script src="{% static 'simulationApp/js/particles.js' %}"></script>
  <script src="{% static 'simulationApp/js/app.js' %}"></script>


    <!-- <video class="bg-area" autoplay loop muted>
      <source src="{% static 'bluesky.mp4' type='video/mp4' %}">  
    </video> -->

{% endblock content %}
