{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  </head>

  <body>


    {% block activehome %}<li class="nav-item active">{% endblock activehome %}


    {% block content %}
      <div class="banner-area">
        <video class="bg-area" autoplay loop muted>
          <source src="{% static 'bluesky.mp4' type='video/mp4' %}">  
        </video>

        <div class="banner-text">
          <h1>BIOTALENT <span>2020</span></h1>
          <h2>Biocomputing Team</h2>
          <a href="{% url 'sim' %}" class="btn btn-circuit">CREATE CIRCUIT</a>
          <a href="{% url 'renderSBGN' %}" class="btn btn-sbgn">RENDER SBGN</a>
        </div>
      </div>

    {% endblock content %}

  </body>
</html>
