{% extends "base.html" %}
{% load static %}

{% block bodysetting %}<body id="body" style="height: 93.6vh; margin: 0px;" onresize="resize()">{% endblock bodysetting %}

{% block content %}
	<link rel="stylesheet" type="text/css" href="{% static 'simulationApp/css/simulation.css' %}"></link>

	<div class="sketchbox">
		<div class="index-left">
			<div class="components" id="components">
			</div>
		</div>

		<div class="index-right">

			<div id="top-bar" class="top-bar"></div>
	
			<div id="myContainer" class="droptarget"></div>
		</div>
	</div>
	
	<script src="{% static 'simulationApp/p5.js' %}"></script>
	<script src="{% static 'simulationApp/contour.js' %}"></script>
	<script src="{% static 'simulationApp/vertex.js' %}"></script>
	<script src="{% static 'simulationApp/grid.js' %}"></script>
	<script src="{% static 'simulationApp/LoadMenues.js' %}"></script>
	<script src="{% static 'simulationApp/component.js' %}"></script>
	<script src="{% static 'simulationApp/sketch.js' %}"></script>
	<script src="{% static 'simulationApp/edge.js' %}"></script>

	
	<script>
		loadJson = function(url, callback, failCallback) {
			var xmlhttp;

			if (window.XMLHttpRequest)
				xmlhttp=new XMLHttpRequest();
			else
				xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");

			xmlhttp.onreadystatechange = function() {
				if (xmlhttp.readyState == 4) {
				if (xmlhttp.status == 200)
					callback(xmlhttp.responseText, url);
				else
					failCallback(url);
				}
			};

			xmlhttp.open("GET", url, true);
			xmlhttp.send();
		};
		loadMultipleJson = function(urls, callbackMulti, failCallbackMulti) {
			var isAllCallsCompleted = false;
			var isCallFailed = false;
			var data = {};

			for (var i=0; i<urls.length; i++) {
				var callback = function(responseText, url) {
					if (isCallFailed) return;

					data[url] = responseText;

					// get size of data
					var size = 0;
					for (var index in data) {
						if (data.hasOwnProperty(index))
						size ++;
					}

					if (size == urls.length)
						// all AJAX requests are completed successfully
						callbackMulti(data);
				};

				var failCallback = function(url) {
				isCallFailed = true;
				failCallbackMulti(url);
				};

				loadJson(urls[i], callback, failCallback);
			}
		};
		
		// paths to all of your files
		var myFiles = ["{% static 'simulationApp/sbgn/sbgnComponents.json' %}", "{% static 'simulationApp/sbgn/componentTypes.json' %}"]

		function callbackMulti(data) {
			allComponents = JSON.parse(data[myFiles[0]]);
			allTypes = JSON.parse(data[myFiles[1]]);
			
			function load() {
				
				try {
					myp5.menu.SortComponentTypes(allComponents, allTypes);
				} catch(e) {
					setTimeout(load, 25);
				}
			} 

			load();
				//Folding of the component menus
			var acc = document.getElementsByClassName("accordion");
			var i, j;

			for (i = 0; i < acc.length; i++) {
				acc[i].addEventListener("click", function() {

					for(j = 0; j < acc.length; j++){
						if(j!=i){
							acc[j].classList.toggle("active", false);
							var panelJ = acc[j].nextElementSibling;
							panelJ.style.display = "none";
						}
					}

					this.classList.toggle("active", true);

					var panel = this.nextElementSibling;
					if (panel.style.display === "block") {
						panel.style.display = "none";
						this.classList.toggle("active", false);
					} else {
						panel.style.display = "grid";
					}
				});
			}
		}

		failCallbackMulti = function(url) {
			console.error('failed to load ' + url);
		};
		loadMultipleJson(myFiles, callbackMulti, failCallbackMulti);

		var baseUrl = "{% static '' %}";
		
		function componentImg(imPath, name, w, h) {
			this.imPath = imPath;
			this.name = name;
			this.w = w;
			this.h = h;
			
		}
	</script>


{% endblock content %}
