{% extends "base.html" %}
{% load static %}

{% block bodysetting %}<body id="body" style="height: 93.6vh; margin: 0px;" onresize="resize()">{% endblock bodysetting %}



{% block content %}
	<div id="myContainer"></div>

	<script>
	//testing
		var im = "{% static 'simulationApp/images/test.png' %}";

		//interactions
		var control = "{% static 'simulationApp/images/interactions/control.png' %}";
		var degradation_test = "{% static 'simulationApp/images/interactions/degradation-test.png' %}";
		var degradation = "{% static 'simulationApp/images/interactions/degradation.png' %}";
		var inhibition = "{% static 'simulationApp/images/interactions/inhibition.png' %}";
		var process_ = "{% static 'simulationApp/images/interactions/process.png' %}";
		var stimulation = "{% static 'simulationApp/images/interactions/stimulation.png' %}";
		//molecular species
		var complex_pp_spec = "{% static 'simulationApp/images/molecular_species/complex-pp-specification.png' %}";
		var complex_sbgn_spec = "{% static 'simulationApp/images/molecular_species/complex-sbgn-specification.png' %}";
		var dsNA = "{% static 'simulationApp/images/molecular_species/dsNA.png' %}";
		var generic_sbgn = "{% static 'simulationApp/images/molecular_species/generic-sbgn.png' %}";
		var macromolecule = "{% static 'simulationApp/images/molecular_species/macromolecule.png' %}";
		var na_sbgn = "{% static 'simulationApp/images/molecular_species/na-sbgn.png' %}";
		var no_glyph_assigned = "{% static 'simulationApp/images/molecular_species/no-glyph-assigned.png' %}";
		var replacement_glyph = "{% static 'simulationApp/images/molecular_species/replacement-glyph.png' %}";
		var small_molecule = "{% static 'simulationApp/images/molecular_species/small-molecule.png' %}";
		var ssNA = "{% static 'simulationApp/images/molecular_species/ssNA.png' %}";
		//sequence features
		var aptamer = "{% static 'simulationApp/images/sequence_features/aptamer.png' %}";
		var assem_scar = "{% static 'simulationApp/images/sequence_features/assembly-scar.png' %}";
		var cds = "{% static 'simulationApp/images/sequence_features/cds.png' %}";
		var cds_arrow = "{% static 'simulationApp/images/sequence_features/cds-arrow.png' %}";
		var chromosomal = "{% static 'simulationApp/images/sequence_features/chromosomal-locus.png' %}";
		var circ_plasmid = "{% static 'simulationApp/images/sequence_features/circular-plasmid.png' %}";
		var dna_stab_elem = "{% static 'simulationApp/images/sequence_features/dna-stability-element.png' %}";
		var eng_region = "{% static 'simulationApp/images/sequence_features/engineered-region.png' %}";
		var fivePoverhang = "{% static 'simulationApp/images/sequence_features/five-prime-overhang.png' %}";
		var fivePsticky = "{% static 'simulationApp/images/sequence_features/five-prime-sticky-restriction-site.png' %}";
		var insulator = "{% static 'simulationApp/images/sequence_features/insulator.png' %}";
		var location_dna = "{% static 'simulationApp/images/sequence_features/location-dna.png' %}";
		var location_protein = "{% static 'simulationApp/images/sequence_features/location-protein.png' %}";
		var location_ran = "{% static 'simulationApp/images/sequence_features/location-rna.png' %}";
		var ncrna = "{% static 'simulationApp/images/sequence_features/ncrna.png' %}";
		var no_glyph_assigned = "{% static 'simulationApp/images/sequence_features/no-glyph-assigned.png' %}";
		var nuc_site = "{% static 'simulationApp/images/sequence_features/nuclease-site.png' %}";
		var operator = "{% static 'simulationApp/images/sequence_features/operator.png' %}";
		var origin_replication = "{% static 'simulationApp/images/sequence_features/origin-of-replication.png' %}";
		var origin_transfer = "{% static 'simulationApp/images/sequence_features/origin-of-transfer.png' %}";

		//backbone & textbox
		var backbone = "{% static 'simulationApp/images/backbone.png' %}";
		var textbox = "{% static 'simulationApp/images/textBox.png' %}";
	</script>

	<script src="{% static 'simulationApp/p5.js' %}"></script>
	<script src="{% static 'simulationApp/contour.js' %}"></script>
	<script src="{% static 'simulationApp/vertex.js' %}"></script>
	<script src="{% static 'simulationApp/grid.js' %}"></script>
	<script src="{% static 'simulationApp/component.js' %}"></script>
	<script src="{% static 'simulationApp/sketch.js' %}"></script>
	<script src="{% static 'simulationApp/edge.js' %}"></script>
	<script src="{% static 'simulationApp/topBar.js' %}"></script>


{% endblock content %}
