/*Index page*/
:root {
  --top-bar-height: 10vh;
  --side-bar-width: 10vw
}

.index-left {
  position: relative;
  width: var(--side-bar-width);
  flex-grow: 1;
}

.index-right {
  flex-grow: 10;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.components {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}


.top-bar {
  width: 100%;
  height: var(--top-bar-height);
  flex-grow: 1;
  display: flex;
}


.sketchbox {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
}

#myContainer {
  width: 100%; 
  height: calc(100% - var(--top-bar-height)); 
  background-color: white;
  position: relative;
}

#defaultCanvas0 {
  width: 100%;
  height: 100%;
}

.top-bar-element {
  width: min-content;
  height: min-content;
  margin-top: 0.5rem;
  margin-left: 1rem;
  padding: 1rem;
  border: 1px solid black;
}