*{
  margin: 0;
  padding: 0;
}

.banner-area{
  height: 100vh;
  background: rgba(0,0,0,0.5);
}

.particles-js-canvas-el {
  width: 100%;
  height: 100%;
  
}

#background-gradient1 {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: -webkit-radial-gradient(rgba(0, 0, 0, 0.25) 10%, rgba(0, 0, 0, 0) 80%);
}
#background-gradient2 {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-image: -webkit-radial-gradient(rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0.15) 100%);
  
}

@media only screen and (max-width: 950px) {
  #background-gradient1 {
    background-image: -webkit-radial-gradient(rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0) 80%);
  }
  #background-gradient2 {
    background-image: -webkit-radial-gradient(rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.05) 100%);
  }

}
.bg-area{
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

.banner-container {
  position: absolute;
  width: min-content;
  height: min-content;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: rgba(71, 87, 109, 0);
  color: #ffffff;
  display: inline-block;
  text-align: center;
  z-index: 3;
}


.banner-text{
  border: 5px solid white; 
  padding: 2rem;
  border-radius: 1em;
  background-color: rgba(57, 131, 150, 0.88);
}

@media only screen and (max-width: 850px) {
  .banner-text{
    border: 0px solid transparent;
    padding: 1rem;
  }
}

.banner-text h1{
  font-size: calc(7px + 5vw);
  font-weight: 900;
  letter-spacing: 5px;
  padding-bottom: 10px;
  font-family: 'Times New Roman';
}

.banner-text h1 span{
  color: rgb(183, 206, 212);
}

.banner-text h2{
  font-size: calc(5px + 2vw);
  font-weight: 900;
  font-family: 'Times New Roman';
}

.btn{
  font-weight: bold;
  font-family: sans-serif;
  font-size: 20px;
  color: white;
  margin: 2em;
  padding: 10px 50px;
  text-decoration: none;
  border: calc(0.2vw + 1px) solid white;
  letter-spacing: 2px;
  border-radius: 2em;
}

.btn-home-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.btn-home-container a {
  flex-grow: 1;
  font-size: calc(5px + 1vw);
  margin-top: calc(4vh);
  margin-bottom: 0px;
  background-color: rgba(57, 131, 150, 0.88)
}

.btn:hover{
  background: #accfe2;
  transition: 0.5s;
  color: #fff;
}

textarea{
  resize: none;
  background-color: #fff;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 600px;
  transform: translateX(-50%) translateY(-50%);
}

/*Index page*/

.sketchbox {
  position: fixed;
  top: 6%;
  height: 94%;
  width: 100%;
}

.components {
  float: left;
  width: 5%;
  height: 100%;
}

#myContainer {
  width: 95%; 
  height: 100%; 
  background-color: white;

  float: right;
}

.fixed-top {
  background-color: #078296;
}